:root {
    --main-bgc-color:#FFFFFF;
    --title-and-top-color:#303030;
    --text-and-bottom-color:#555555;
    --contacts-and-prices-color:#9DA4BD;
    --accent-color:#FF6C00;
    --prices-top-text:rgba(157, 164, 189, 0.6);
    --typical-margin: 20px;
}

p, 
h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    background-color:var(--main-bgc-color);
    font-family:"Open sans", sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
img {
    display:block;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color:var(--title-and-top-color)
}

.title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color:var(--title-and-top-color)
}

.bottom-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.button {
    min-width: 190px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    padding: 0;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase; 
    
}
/* -------------------------HEADER----------------------> */
.header {
    background-color:grey;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-link:not(:last-child) {
    margin-right: 40px;
}

.logo {
    margin-right: 70px;
}

.header  .link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color:var(--main-bgc-color);
}
.header .link.current {
    color: var(--accent-color);
}

.header-link.tel {
    margin-right: 60px;
    text-transform: uppercase;    
}

.header-link:hover,
.header-link:focus,
.yout-insta-link:hover,
.yout-insta-link:focus {
    cursor: pointer;
    color: var(--accent-color);
}

.header-connect {
    margin-left: auto;
}

/* < !---------------HERO---------------- --> */

.yout-insta-list {
    width: 90px;
}

.yout-insta-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:var(--title-and-top-color);
}

.yout-insta-link.current{
    color: var(--accent-color);
}

.hero .container {
    display: flex;
}

.hero-content {
    flex-grow: 1;
    background-color: grey;
    padding: 272px 96px 206px 96px;
}
.hero-top-text {
    color: var(--prices-top-text);
    margin-bottom: var(--typical-margin);
}
.hero-title {
    font-size: 72px;
    line-height: 1.18;
    color: var(--main-bgc-color);
    margin-bottom: var(--typical-margin);
}
.hero-bottom-text {
    color: var(--contacts-and-prices-color);
    max-width: 444px;
}
/* ----------------------ABOUT-US---------------------- */
.about {
    padding-top: 169px;
    padding-bottom: 91px;
}

.about .container {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 84px;
}

.about-pic + .about-pic {
    margin-left: 30px;
}
.about-top-text {
    margin-bottom: var(--typical-margin);
}
.about-title {
    margin-bottom: var(--typical-margin);
}
.about-bottom-text {
    color: var(--text-and-bottom-color);
    margin-bottom: var(--typical-margin);
}
.about-descr {
    margin-bottom: 50px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--text-and-bottom-color);
    

}

/* -----------------------PRICES------------------------ */

.prices-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.prices {
    background-color: grey;
    padding-top: 130px;
    padding-bottom: 130px;
}

.prices-top-text {
    color:var(--prices-top-text);
    margin-bottom: var(--typical-margin);
    
}

.prices-title {
    color: var(--main-bgc-color);
    margin-bottom: 44px;
}

.prices-list {
    padding: 30px 40px;
    width: 50%;

    border: 1px solid greenyellow;
}

.prices-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color:var(--contacts-and-prices-color);
}
.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-button {
    color: var(--main-bgc-color);
    background-color: grey;
    margin: 0 auto;
    padding: 12px 20px;
    display: block;
    border-radius: 25px;
    border-color: var(--accent-color);
}


/* --------------STATISTICS-------------------- */

.statistics{
    padding-top: 143px;
    padding-bottom: 137px;
}

.statistics-item {
    width: 170px;
    height: 133px;
    border: 1px solid yellowgreen;
    padding: 20px 24px;
}

.statistics-item-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    color:var(--title-and-top-color);
}

.statistics-item-descr {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--title-and-top-color);
}

.statisctics-top-text {
    margin-bottom: var(--typical-margin);
}

.statisctics-title {
    margin-bottom: var(--typical-margin);
}

.statisctics-bottom-text {
    color: var(--text-and-bottom-color);
}
/* --------------MASTERS------------------- */

.masters {
    padding: 130px 0 204px 0;
    background-color: #F7F7F7;
}

.masters-top-text {
    margin-bottom: var(--typical-margin);
}

.masters-title {
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
}

.masters-item {
    width: calc((100% - 60px) / 3);
}

.masters-item + .masters-item {
    margin-left: 30px;
}

.masters-img {
    margin-bottom: 30px;
}


.masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--title-and-top-color);
    margin-bottom: 8px;
}

.masters-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--accent-color);
}
/* --------------------GALLERY-------------------- */
.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}

.gallery-top-text {
    padding-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc((100% - 90px) / 4);
    
}

.gallery-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

/* ------------------ONLINE-APPOINTMENT------------*/

.form-contacts {
    
    background-color: #191C26;
}

.form-contacts .container {
    display: flex;    
}

.appoitment {
    width: 50%;
}

.appointment-title {
    color: var(--main-bgc-color);
}
/* ----------------CONTACTS------------------------- */

.contacts {
    width: 50%;
    padding: 130px 265px 130px 100px;
}

.contacts-title {
    margin-bottom: 40px;
    color: var(--main-bgc-color);
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--contacts-and-prices-color);
}

.address {
    margin-bottom: 20px;
}

.tel {
    margin-bottom: 20px;
}

.e-mail {
    margin-bottom: 70px;
}

.address-link:hover,
.address-link:focus {
    cursor: pointer;
    color: var(--accent-color);
}

.opening-hours.top-text {
    margin-bottom: 20px;
    color: var(--main-bgc-color)
        }

.hours {
    color: var(--contacts-and-prices-color);
}
/* -------------------FOOTER---------------- */
.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}